*{
    margin: 0;
    padding: 0;
    font-family: Zain;
    text-decoration: none;
}

body, html{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 251, 246);
}

#nav{
    background-color: rgb(255, 219, 173);
    padding: 1vw;
}

#logo{
    display: flex;
    justify-content: center;
    height: 10vw;
}

#links{
    font-size: 1.5vw;
    font-weight: 300;
    display: flex;
    justify-content: center;
    gap: 4vw;
    margin-top: 1vw;
}

#links a{
    text-decoration: none;
    color: black;
}

#links a:hover{
    color: #CA7842;
    transition: 0.5s ease ;
}

#content1{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.288);
    padding: 10px;
}

#part1{
    height: 70vh;
    width: 40%;
    position: relative;
    padding: 5vw 0vw;
    padding-left: 4vw;
}

#part1 img{
    height: 100%;
    transform: scaleX(-1);
    border-radius: 10px;
}

#part1 h1{
    position: absolute;
    top:48%;
    left:40%;
    font-size: 6vw;
    color: #BA487F;
    /* color:rgb(255, 251, 246) ; */
    padding: 2vw 1vw;
    border-radius: 10px;
    transform: rotate(-27deg);
    font-family: Festive;
    /* text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.39); */
    line-height: 5vw;
    font-weight: 200;
}

#part2{
    height: 50vh;
    width: 50%;
    padding: 5vw 1vw ;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    font-size: 2.5vw;
}

#menu{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.288);
    padding: 4vw;
}

#menu-text{
    color: pink;
    height: 100vh;
    width: 50%;
    line-height: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9vw;
    margin-left: 4vw;
}

#menu-img{
    height: 100vh;
    width:  50%;
    margin-top: 6vw;
    margin-left: 10vw;
}

#menu-img img{
    height: 100%;
    rotate: 10deg;
}

#menu-img img:hover{
    rotate: -10deg;
    transition: 0.5s ease-in-out;
}

#menu-text{
    animation-name: rotating;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-direction: alternate;
    transition: 0.7s ease-in;
    color: #EC9B5A;
}

@keyframes rotating {
    from{
        rotate: 5deg;
    }
    to{
        rotate: -5deg;
    }
}

#about-us{
    height: 100vh;
    width: 100%;
    position: relative; 
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.288);
}



.girl{
    height: 30vw;
    width: 20vw;
    border-radius: 25px;
    object-fit: cover;
    object-position: center;
    margin-left: 10vw;
    margin-top: 5vw;
    
}

.girl:hover{
    
}

.fw1{
    height: 15vw;
    width: 15vw;
    position: absolute;
    top: 55%;
    left: 5%;
}

.fw2{
    height: 15vw;
    rotate: 180deg;
    transform: scaleX(-1);
    position: absolute;
    top: 10.5%;
    left: 8.8%;
}

.about-head{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4vw;
    /* line-height: 2.5vw; */
    color: #ff0077;
    font-weight: 600;
    text-shadow: 1px 1px pink;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.39);
}

#about-text h1{
    position: absolute;
    left:18%;
    font-size: 5vw;
    top:64.1%;
    color: #ff0077;
    font-weight: 600;
    text-shadow: 1px 1px pink;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.39);
}

#about-text2{
    height: 50vh;
    width: 50%;
    padding: 5vw 1vw ;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    font-size: 2.5vw;
    margin-left: 10vw;
    margin-top: 10vw;
}

#products{
    height: 80vh;
    width: 100%;
    margin-top: 2vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.288);
}

#prod-text{
    color: #EC9B5A;
    text-align: center;
    margin-bottom: 2vw;
    font-size: 4vw;
}

#prod-cont{
    display: flex;
    gap: 4vw;
    justify-content: center;
}

#product-container {
  width: 15vw;
  height: 20vw;
  background: #72362E;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.2s ease-in-out;
}

.prod-img {
  height: 35%;
  position: absolute;
  transition: 0.2s ease-in-out;
  z-index: 1;
  border-radius: 20px;
}

.textBox {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: 0.2s ease-in-out;
  z-index: 2;
}

.textBox > .text {
  font-weight: bold;
}

.textBox > .head {
  font-size: 35px;
}

.textBox > .price {
  font-size: 20px;
}

.textBox > span {
  font-size: 20px;
  color: lightgrey;
}

#product-container:hover > .textBox {
  opacity: 1;
}

#product-container:hover > .prod-img {
  height: 80%;
  filter: blur(7px);
  animation: anim 3s infinite;
}

@keyframes anim {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

#product-container:hover {
  transform: scale(1.04) rotate(-1deg);
}

#footer{
    height: 52vh;
    width: 100%;
    background-color: #f9bbbb;
    position: relative;
    display: flex;
}

.foot-mimg{
    height: 52vh;
    width: 100%;
    object-fit: cover;
    opacity: 0.019;
    position: absolute;
}

#foot-branding{
    position: absolute;
}

#foot-branding img{
    height: 17vw;
    width: 17vw;
    rotate: -10deg;
}

#foot-branding h1{
    font-size: 4vw;
    line-height: 2.5vw;
    color: #ff0077;
    font-weight: 600;
    text-shadow: 1px 1px pink;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.39);
    margin-left: 2vw;
}

#foot-branding span{
    font-family: festive;
    rotate: -2deg;
    display: inline-block;
}

#insta{
    display: grid;
  place-items: center;
  font-family: 'Noto Sans', sans-serif;
    margin: 10px;
    width:300px; height:50px;
    border-radius: 25px;
    color: white;
    background: radial-gradient(circle at -10% 50%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
     box-shadow: 1px 1px rgba(0, 0, 0, 0.39);
}
#fb{
    display: grid;
  place-items: center;
  font-family: 'Noto Sans', sans-serif;
    margin: 10px;
    width:300px; height:50px;
    border-radius: 25px;
    color: white;
    background-color: #1d78f2;;
     box-shadow: 1px 1px rgba(0, 0, 0, 0.39);
}
#x{
    display: grid;
    place-items: center;
    font-family: 'Noto Sans', sans-serif;
    margin: 10px;
    width:300px; height:50px;
    border-radius: 25px;
    background-color: white;
    color: black;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.39);
}

#socials{
    position: absolute;
    left: 37%;
    top: 20%;
}

#socials h1{
    color: rgb(77, 0, 0);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.39);
    font-size: 3vw;
    margin-left: 10px;
}

#socials a div {
  transition: transform 0.3s ease-in-out;
}

#socials a:hover div {
  transform: scale(1.05);
}

#other-text{
    position: absolute;
    top: 30%;
    left: 65%;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    line-height: 1.5vw;
    font-size: 1vw;
}
